/* body{
    background-image: url(3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} */
.jumbotron {
    background-image: url(1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    text-align: center;
}

/* .container {
    display: grid;
    text-align: center;
} */

div.team-card {
    width: 25%;
    /* display: inline-flex; */
    height: auto;
    flex-wrap: wrap;
    border-radius: 5px;
}

.team-card {
    background-image: url(1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-name, .card-position {
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}